<form action = "/output" method = "post">
  <label for = "riddle1"></label>
  <input type = "text" name = "riddle1">
  <label for = "riddle2"><%= @riddles %></label>
  <input type = "text" name = "riddle2">
  <button type = "submit">Submit</button>
</form>
